/* Text Box Container */
.flexcontainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.btn {
    display: block;
    background-color: #3621c1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    border-radius: 4px;
}

input.searchfield {
    width: 20 px;
}

input.searchfield:focus {
    outline: 5px dashed red;
}

/* Text Box */
.box {
    width: fit-content;
    padding: 5px;
    margin: 5px 10px 5px;
    border: 2px solid black;
    border-radius: 5px;
}